@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav {
  background-color: white;
  height: 15rem;
  background-image: url('./assets/uokpl.rs-books-on-shelf-png-4620356.png');
  background-size: fill;
 
  background-position: 100%;
  
}
/*header div*/

.login {
  background-color: aquamarine;
}

.bodycontainer {
  background-color: bisque;
}

.cardContainet {
  background-color: blueviolet;
}

.wholeCard {
  padding-top: 50px;
  background: #ECEFF1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 300px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
  width: 325px;

}

.flip-card-inner {
  position: relative;
  width: 40rem;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 40rem;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
}

.flip-card-front {
  background-color: white;
  color:black;
  text-align: center;
}

.flip-card-back {
  background-image: url('./assets/tan-index-card.png');
  background-size: contain;
  background-repeat: repeat-x;
  transform: rotateY(180deg);
}

.login-card-header {
  margin-top: 4rem;
  font-size: xx-large;
  font-family: 'Amatic SC', cursive;
}

.logincard {
  text-align: center;
  align-content: center;
}


.login-card-outer {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}


.login-card-body {
  padding: 50px 100px;
  border: 2px solid rgba(0,0,0,1);
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0,0,0,1);
  background-image: url('./assets/tan-index-card.png');
  background-size: contain;
}

.cardflip-div {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form-input {
  align-self: center;
  background-color: #f8f4e5;
  display: block;
  margin-bottom: 28;
  border: none;
  border-bottom: 5px solid blue;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: rgba(0,0,0,1);
  line-height: 20pt;
  
}

#email{
  background-color: #f8f4e5;
}

.form-input:focus {
  border-bottom: 5px solid #ffa580;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 28pt;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px rgba(0,0,0,1);

}

button:hover {
  background: rgba(0,0,0,1);
    color: white;
    border: 1px solid rgba(0,0,0,1);
}